.grid-row {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s;
}

.grid-column {
  transition: color 0.3s;
}

.grid-row:hover {
  background-color: lightblue;
}

.grid-row:hover .grid-column {
  color: purple;
}